<!doctype html>
<head><title>Forgot  Passowrd</title>
<link rel="stylesheet" href="{{url_for('static', filename='signin.css') }}">
      </head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="underlineHover"> Change Your password </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="static/animal.jpg" id="icon" alt="User Icon" />
    </div>

    <!-- forgot password Form -->
    {% if session['user'] %}
    <form action="/pcs" method="post">
      <input type="text" id="username" class="fadeIn second" name="username" value="{{ name }}" required>
      <input type="password" id="newpassword" class="fadeIn third" name="password" placeholder="Enter a new password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Min 8" />
      <input type="submit" class="fadeIn fourth" value="Change Your Passowrd"> 
    </form>
    {% else %}
    <form action="/changepwd" method="POST">
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="Type your username" required>
      <input type="submit" class="fadeIn fourth" value="NEXT">
    </form>
      {% endif %}
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">   
        <a class="underlineHover" href="#">{{ Data }}</a>
        {% if session['user'] %}
        <a class="underlineHover" href="/login">{{ Data2 }}</a>
        {% else %}
        <a class="underlineHover" href="/login">Return to Login</a>
        {% endif %}

      </div>
     
  </div>
</div>
</body>